@{
    ViewData["Title"] = "Reporte de stock";
}

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">Reporte stock</h3>
        <ul>
            <li>
                <a asp-controller="Finanza" asp-action="VentasDia" class="chapter">Ventas del Dia</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="VentasMes" class="chapter">Ventas del mes</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Proveedores" class="chapter">Proveedores</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Stock" class="chapter">Stock</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Descuentos" class="chapter">Descuentos</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Insumos" class="chapter">Insumos</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <input type="search" name="search" placeholder="Search" aria-label="Search" />
        </div>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Stock actual</th>
                    <th scope="col">Cantidad ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
        </table>
    </div>
</div>