@{
    ViewData["Title"] = "Ventas del dia";
}

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">Ventas del dia</h3>
        <ul>
            <li>
                <a asp-controller="Finanza" asp-action="VentasDia" class="chapter">Ventas del Dia</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="VentasMes" class="chapter">Ventas del mes</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Proveedores" class="chapter">Proveedores</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Stock" class="chapter">Stock</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Descuentos" class="chapter">Descuentos</a>
            </li>
            <li>
                <a asp-controller="Finanza" asp-action="Insumos" class="chapter">Insumos</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <form class="grid">
            <input type="search" name="search" placeholder="Search" aria-label="Search" />
            <input type="date" name="date" aria-label="Date">
            <button class="outline contrast" style="height: fit-content" type="submit" value="Search">Filtrar</button>
        </form>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">RUT</th>
                    <th scope="col">Método de pago</th>
                    <th scope="col">Detalles</th>
                    <th scope="col">Ingreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">06/07/23</td>
                    <td>12:30</td>
                    <td>Nombre</td>
                    <td>12.345.678-9</td>
                    <td>Efectivo</td>
                    <td>2 Ron 2L, 1 Pisco 100ml</td>
                    <td>$810.000</td>
                </tr>
                <tr>
                    <td scope="row">06/07/23</td>
                    <td>12:30</td>
                    <td>Nombre</td>
                    <td>12.345.678-9</td>
                    <td>Efectivo</td>
                    <td>2 Ron 2L, 1 Pisco 100ml</td>
                    <td>$810.000</td>
                </tr>
                <tr>
                    <td scope="row">06/07/23</td>
                    <td>12:30</td>
                    <td>Nombre</td>
                    <td>12.345.678-9</td>
                    <td>Efectivo</td>
                    <td>2 Ron 2L, 1 Pisco 100ml</td>
                    <td>$810.000</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6" style="text-align: right"><strong>TOTAL</strong></td>
                    <td><strong>$2.430.000</strong></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>