@model EVA2TI_BarPinguino.Models.Usuarios

@{
    ViewData["Title"] = "Edit";
}


<div id="card-section">
<h1>Edit</h1>
<h4>Usuarios</h4>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="CredencialVendedor" />
            <input type="hidden" asp-for="Clave" />
            <input type="hidden" asp-for="PasswordSalt" />
            <fieldset>
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" />
                <span asp-validation-for="Nombre"></span>
            </fieldset>
            <fieldset>
                <label asp-for="Correo"></label>
                <input asp-for="Correo" />
                <span asp-validation-for="Correo"></span>
            </fieldset>
            <fieldset>
                <label asp-for="TipoUsuario"></label>
                <select asp-for="TipoUsuario">
                <option value="Ventas">Ventas</option>
                <option value="Preparacion">Preparacion</option>
                <option value="Inventario">Inventario</option>
                <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="TipoUsuario"></span>
            </fieldset>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    <a asp-action="Index">Volver</a>
</div>
