@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="center" id="card-section">
    <div>
        <h1>El PEDIDO FINALIZADO SE ENTREGO.</h1>
    </div>
    <form asp-controller="Functions" asp-action="Preparacion">
        <button>Volver</button>
    </form>
</section>