@{
    ViewBag.Title = "Inventario";
}
<main>
    <h1>CRITICOS:</h1>
    <div class="CarrilInv">
        <div class="cardInv">
            <div class="imgInv"></div>
            <h1 class="Producto"></h1>
            <div class="Stock"></div>
        </div>
    </div> <!-- Lista con inventario critico -->
    <h1>ACEPTABLE PARA EL USO:</h1>
    <div class="Aceptables"></div> <!-- Lista con inventario aceptable -->
    <h1>NUEVOS:</h1>
    <div class="NUEVOS"></div> <!-- Lista con inventario nuevo -->
</main>