@{
    ViewBag.Title = "Preparacion";
}
<main>
    <h3>Pedido:01</h3>
    <div class="Framebody">
        <div class="cardP">
            <div class="imgcard"></div>
            <div class="card-content">
                <h2>MOJITO</h2>
                <p>Ingredientes:<br>Limon o Lima, Ron blanco, Menta.</p>
            </div>
            <div class="estado"></div>
        </div>
        <iframe class="derFrame" src="@Url.Action("Procedimiento", "Functions")"></iframe>
    </div>
</main>