@{
    Layout = null;
    ViewBag.Title = "Procedimiento";
}
<head>
    <link rel="stylesheet" href="~/css/pico.slate.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<main class="internalView">
    <div class="Prcard">
        <h3 class="Ttext">@ViewBag.producto</h3>
        <div>
            <p class="Prinfo">PREPARACION:<br>Para poder hacer el mojito nesecitas, aplastar de buena manera las hojas de menta en el fondo del vaso, aplicarle hielo con unas torrejas de limon y un poco de su jugo idealmente un 40% del vaso y luego rellenar con ron blanco, finalizando revuelves un poco y estaria todo Listo.</p>
        </div>
        <button class="listo">LISTO</button>
    </div>
</main>