@{
    ViewBag.Title = "Restock";
}
<main>
    <div class="blur">
        <form asp-controller="Functions" asp-action="CorreoProveedores" method="post">
            <label class="labelProveedores">Selecciona el producto y cantidad de manera <strong class="TextCritico">ESPECIFICA</strong>.<br>⬇️</label>
            <div>
                <div>
                    <label>Producto:</label>
                    <input type="text" id="productos" name="productos" placeholder="Ingresa un producto">
                </div>
            </div>
            <div>
                <label>Cantidad en litros:</label>
                <input type="number" id="cantidad" name="cantidad" required />
            </div>
            <div>
                <label>Proveedor:</label>
                <input type="text" id="txtProveedor" name="txtProveedor" placeholder="11111111-1" required />
            </div>
            <button type="submit" class="CorreoProveedores">Informar Restock.</button>
        </form>
        <form asp-controller="Functions" asp-action="CorreoProveedores" method="post">
            <button type="submit" class="CorreoProveedores">Informar sobre Restock de todos los productos <strong class="TextCritico">CRITICOS</strong>.</button>
        </form>
    </div>
</main>