
@{
    ViewData["Title"] = "Contacto";
}

<h1>Contacto</h1>
<div id="card-section">
<form method="get" asp-action="SaveForm">
    <fieldset>
        <label>
            Nombre
            <input name="nom" 
                   required
                   placeholder="Nombre"
                   autocomplete="given-name" />
        </label>
        <label>
            Email
            <input type="email"
                   required
                   name="mail"
                   placeholder="Email"
                   autocomplete="email" />
        </label>
    </fieldset>

    <input type="submit"
           value="Enviar" />
</form>
</div>