
@{
    ViewData["Title"] = "SaveForm";
}

<h1>Respuesta</h1>
<section>
    <p>El formulario ha sido guardado</p>
    <p>Gracias por tus datos @ViewBag.respuesta!</p>
    <p>@ViewBag.texto</p>
</section>
