@{
    ViewData["Title"] = "Inicio";
}

<div id="home-container">
    <div class="hero" id="about-section">
            <div class="hero-content">
                    <div class="chapter">Cada trago cuenta una historia.</div><br />
                <h1><strong>Bienvenidos al Pinguino</strong> 🐧</h1>
                <p class="hero-text">
                    Disfruta de un ambiente acogedor, una selección de bebidas cuidadosamente seleccionadas
                    y sabores que te harán volver por más.
                </p>
                <p class="hero-cta">
                    ¡Ven a vivir una experiencia única en Bar Pingüino! Tu rincón perfecto para relajarte y celebrar.
                </p>
                <div class="hero-buttons">
                    <a asp-controller="Forms" asp-action="Contacto" role="button" class="primary">Reservar Mesa</a>
                    <a asp-controller="Forms" asp-action="Contacto" role="button" class="outline">Conoce más</a>
                </div>
        </div>
    </div>

    <section id="features-section">
        <div class="grid">
            <article class="feature-card">
                <h3>Contactanos</h3>
                <p>Asegura tu mesa para una noche especial. Nos pondremos en contacto contigo.</p>
                <a asp-controller="Forms" asp-action="Contacto" role="button" class="outline">Reservar</a>
            </article>

            <article class="feature-card">
                <h3>Eventos</h3>
                <p>Celebra tus momentos especiales con nosotros. Organizamos eventos personalizados.</p>
                <a asp-controller="Forms" asp-action="Contacto" role="button" class="outline">Consultar</a>
            </article>

            <article class="feature-card">
                <h3>Privacidad</h3>
                <p>Conoce nuestras políticas de privacidad y protección de datos.</p>
                <a asp-controller="Home" asp-action="Privacy" role="button" class="outline">Leer Articulo</a>
            </article>
        </div>
    </section>
</div>