@{
    ViewData["Title"] = "Home Page";
}
<div id="home-container">
<div id="main-title">
    <icon>🐧</icon>
    <h1>Bar Pinguino</h1>
</div>

    <div class="grid">
    <a asp-controller="Ventas" asp-action="RegistrarUser" role="button" class="card">Registro</a>
    <a asp-controller="Ventas" asp-action="Venta" role="button" class="card">Venta</a>
    <a asp-controller="" asp-action="" role="button" class="card">Inventario</a>
    <a asp-controller="" asp-action="" role="button" class="card">Preparacion</a>
    <a asp-controller="" asp-action="" role="button" class="card">Finanzas</a>
    <a asp-controller="" asp-action="" role="button" class="card">Sistema</a>
    </div>
</div>
