@using System.Security.Claims
@{
    var user = User.Identity.IsAuthenticated ? (ClaimsPrincipal)User : null;
    var tipoDeUsuario = user?.Claims.FirstOrDefault(c => c.Type == "TipoDeUsuario")?.Value;
}

<ul>
   
        @if (tipoDeUsuario == "Ventas")
        {
            
        <li><a role="button" asp-controller="Registros" asp-action="RegistrarUser">Registro</a></li>
        <li><a role="button" asp-controller="Ventas" asp-action="Venta">Venta</a></li>
          
        }
        else if (tipoDeUsuario == "Preparacion")
        {
        <li><a role="button" asp-controller="Preparacion" asp-action="Index">Preparación</a></li>
        }
        else if (tipoDeUsuario == "Inventario")
        {
        <li><a role="button" asp-controller="Inventario" asp-action="Index">Inventario</a></li>
        }
        else if (tipoDeUsuario == "Admin")
        {
        <li><a role="button" asp-controller="Registros" asp-action="RegistrarUser">Registro</a></li>
        <li><a role="button" asp-controller="Ventas" asp-action="Venta">Venta</a></li>
        <li><a role="button" asp-controller="Functions" asp-action="Inventario">Inventario</a></li>
        <li><a role="button" asp-controller="Functions" asp-action="Preparacion">Preparación</a></li>
        <li><a role ="button" asp-controller="Finanza" asp-action="VentasMes">Finanzas</a></li>
        <li><a role="button" asp-controller="Registros" asp-action="RegistroUserEmpleado">Registro Empleado</a></li>
        }
</ul>
