<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bar Pinguino</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pico.slate.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/pinguino-logo.svg">
</head>

<body>
    <header class="is-fixed-above-lg">
        <nav>
            <ul>
                <li><a id="bar-title" asp-area="" asp-controller="Home" asp-action="Index"><img id="logo"
                            src="~/img/pinguino-logo.svg" alt="Bar Pinguino Logo" /><strong id="bar-name">Bar
                            Pinguino</strong></a></li>
            </ul>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Forms" asp-action="Contacto">Contacto</a>
                </li>
                <li>
                    <form asp-controller="Taller" asp-action="Login">
                        <button>Login</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="text-center">
        <p class="chapter">&copy; 2024 Bar Pingüino</p>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>