<li>
    <a asp-controller="Clientes" asp-action="Index" class="chapter">Clientes</a>
</li>
<li>
    <a asp-controller="Usuarios" asp-action="Index" class="chapter">Usuarios</a>
</li>
<li>
    <a asp-controller="Stocks" asp-action="Index" class="chapter">Stock</a>
</li>
<li>
    <a asp-controller="Proveedores" asp-action="Index" class="chapter">Proveedores</a>
</li>
<li>
    <a asp-controller="Ventas" asp-action="Index" class="chapter">Ventas</a>
</li>
<li>
    <a asp-controller="Descuentos" asp-action="Index" class="chapter">Descuentos</a>
</li>
<li>
    <a asp-controller="Finanzas" asp-action="Index" class="chapter">Finanzas</a>
</li>