
@{
    ViewData["Title"] = "Error404";
}
<div id="home-container">
    <div class="hero" id="about-section">
        <div class="hero-content">
            <div class="chapter">Error 404</div><br />
            <h1><strong>¿Estas perdido?</strong></h1>
            <p class="hero-text">
                Lo sentimos, la pagina que estas buscando no existe. Por favor, verifica la URL e intenta nuevamente.
            </p>
            <div class="hero-buttons">
                <a asp-controller="Home" asp-action="Index" role="button" class="outline">Volver</a>
            </div>
        </div>
    </div>
</div>