@model EVA2TI_BarPinguino.Models.Finanzas

@{
    ViewData["Title"] = "Edit";
}

<div id="card-section">
<h1>Edit</h1>
<h4>Finanzas</h4>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InformeDeStock" />
            <fieldset>
                <label asp-for="Fecha"></label>
                <input asp-for="Fecha" />
                <span asp-validation-for="Fecha"></span>
            </fieldset>
            <fieldset>
                <label asp-for="Gasto"></label>
                <input asp-for="Gasto" />
                <span asp-validation-for="Gasto"></span>
            </fieldset>
            <fieldset>
                <label asp-for="Ingreso"></label>
                <input asp-for="Ingreso" />
                <span asp-validation-for="Ingreso"></span>
            </fieldset>
            <fieldset>
                <label asp-for="Detalles"></label>
                <input asp-for="Detalles" />
                <span asp-validation-for="Detalles"></span>
            </fieldset>
            <fieldset>
                <label asp-for="NDocumento"></label>
                <input asp-for="NDocumento" />
                <span asp-validation-for="NDocumento"></span>
            </fieldset>
            <fieldset>
                <label asp-for="TipoDeDocumento"></label>
                <input asp-for="TipoDeDocumento" />
                <span asp-validation-for="TipoDeDocumento"></span>
            </fieldset>
            <div>
                <input type="submit" value="Save"/>
            </div>
        </form>
    <a asp-action="Index">Volver</a>
</div>