@{
    ViewData["Title"] = "Home Page";
}
<div id="home-container">
<div id="main-title">
    <icon>🐧</icon>
    <h1>Bar Pinguino</h1>
</div>
</div>

<section id="about-section">
    <div id="about-content">
        
    <p id="about-me">
            <strong>Bienvenidos al Pinguino</strong>. <br />Donde cada trago cuenta una historia y cada plato es una obra de arte. 🌟
            Disfruta de un ambiente acogedor, una selección de bebidas cuidadosamente curadas y sabores que te harán volver por más.
            ¡Ven a vivir una experiencia única en Bar Pingüino! 🐧 Tu rincón perfecto para relajarte y celebrar.
    </p>
    </div>
    
</section>
