li :where(a, [role=link]):not(:hover) {
    text-decoration: none;
}

.mobile-message {
    display: none;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
}

@media (max-width: 920px) {
    .desktop-content {
        display: none;
    }

    .mobile-message {
        display: block;
        position: absolute;
        top: 30dvh;
    }
}

@media (min-width: 920px) {
    .desktop-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 6px;
        grid-auto-flow: row;
        grid-template-areas:
            "side-panel content content content content"
            "side-panel content content content content"
            "side-panel content content content content";
    }

    .side-panel {
        padding-top: 10px;
        grid-area: side-panel;
        position: fixed;
    }

    .content {
        grid-area: content;
    }
}

.side-panel ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
