<li>
    <a asp-controller="Reporte" asp-action="VentasDia" class="chapter">Ventas del Dia</a>
</li>
<li>
    <a asp-controller="Reporte" asp-action="VentasMes" class="chapter">Ventas del mes</a>
</li>
<li>
    <a asp-controller="Reporte" asp-action="Proveedores" class="chapter">Proveedores</a>
</li>
<li>
    <a asp-controller="Reporte" asp-action="Stock" class="chapter">Stock</a>
</li>
<li>
    <a asp-controller="Reporte" asp-action="Descuentos" class="chapter">Descuentos</a>
</li>