@{
    ViewData["Title"] = "Reporte de stock";
}

<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <partial name="_ReporteSidebar" />
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Stock actual</th>
                    <th scope="col">Cantidad ideal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr><tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
                <tr>
                    <td scope="row">Campanario Sour</td>
                    <td>143.3L</td>
                    <td>200.0L</td>
                </tr>
        </table>
    </div>
</div>