@{
    ViewData["Title"] = "Reporte de stock";
}
@model IEnumerable<Stock>
<div class="mobile-message">
    <h3>Por favor usar en modo escritorio</h3>
    <p>Esta vista solo está disponible para pantallas más grandes.</p>
</div>

<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">@ViewData["Title"]</h3>
        <ul>
            <partial name="_ReporteSidebar" />
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Stock actual</th>
                    <th scope="col">Informe Stock</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    @foreach (var producto in Model)
                    {
                        <tr>
                            <td scope="row">@producto.NombreProducto</td>
                            <td>@producto.CantidadStock.ToString("N1")</td>
                            <td>@producto.InformeDeStock.ToString()</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" style="text-align: center">No se encontraron productos.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>