<li>
    <a asp-controller="Maestro" asp-action="AgregarPerfil" class="chapter">
        1. Agregar Perfil
    </a>
</li>
<li>
    <a asp-controller="Maestro" asp-action="VerPerfiles" class="chapter">
        2. Ver Todos los Perfiles
    </a>
</li>
<li>
    <a asp-controller="Maestro" asp-action="EliminarPerfil" class="chapter">
        3. Eliminar un Perfil
    </a>
</li>
<li>
    <a asp-controller="Maestro" asp-action="ModificarPerfil" class="chapter">
        4. Modificar un Perfil
    </a>
</li>