<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">Panel Admin</h3>
        <ul>
            <partial name="_PanelAdminSidebar" />
        </ul>
    </div>
    <div class="content">
        <section class="form-container">
            <div class="form-section eliminar">
                <h2>Eliminar Usuario</h2>
                <form method="post" asp-action="EliminarPerfil">
                    <label for="rut">RUT</label>
                    <input type="text" id="rut" name="rut" placeholder="Ingresa el RUT del usuario a eliminar" required />

                    <button type="submit" class="btn-delete">Eliminar</button>
                </form>
            </div>
        </section>
    </div>
</div>
