<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">Panel Admin</h3>
        <ul>
            <partial name="_PanelAdminSidebar" />
        </ul>
    </div>
    <div class="content">
        <div class="grid">
            <form role="search">
                <input name="search" type="search" placeholder="Search" />
                <input type="submit" value="Search" />
            </form>
        </div>
        <table class="sales-table">
            <thead>
                <tr>
                    <th scope="col">Rut</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido Paterno</th>
                    <th scope="col">Apellido Materno</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Nivel</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
