<div class="desktop-content">
    <div class="side-panel">
        <h3 class="title">Panel Admin</h3>
        <ul>
            <li>
                <a asp-controller="Eva3" asp-action="AgregarPerfil" class="chapter">
                    1. Agregar Perfil
                </a>
            </li>
            <li>
                <a asp-controller="Eva3" asp-action="VerPerfiles" class="chapter">
                    2. Ver Todos los Perfiles
                </a>
            </li>
            <li>
                <a asp-controller="Eva3" asp-action="EliminarPerfil" class="chapter">
                    3. Eliminar un Perfil
                </a>
            </li>
            <li>
                <a asp-controller="Eva3" asp-action="ModificarPerfil" class="chapter">
                    4. Modificar un Perfil
                </a>
            </li>
        </ul>
    </div>
    <div class="content">
        <section class="form-container">
            <div class="form-section registro">
                <h2>Registro</h2>
                <form method="post" asp-action="AgregarPerfil">
                    <label for="rut">RUT</label>
                    <input type="text" id="rut" name="rut" placeholder="Ingresa el RUT" required />

                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa el nombre" required />

                    <label for="apPat">Apellido Paterno</label>
                    <input type="text" id="apPat" name="apPat" placeholder="Ingresa el apellido paterno" required />

                    <label for="apMat">Apellido Materno</label>
                    <input type="text" id="apMat" name="apMat" placeholder="Ingresa el apellido materno" required />

                    <label for="edad">Edad</label>
                    <input type="number" id="edad" name="edad" placeholder="Ingresa la edad" min="1" required />

                    <label for="nivel">Nivel</label>
                    <select id="nivel" name="nivel" required>
                        <option value="" disabled selected>Selecciona el nivel</option>
                        <option value="1">Administrador</option>
                        <option value="2">Usuario</option>
                    </select>

                    <button type="submit">Registrar</button>
                </form>
            </div>
        </section>

    </div>
</div>
