@{
    string frase = ViewBag.Frase;
}

<div id="home-container">
    <div class="hero" id="about-section">
        <div class="hero-content">
            <h1><strong>Frase</strong></h1>
            <div class="chapter">Bar Pinguino - Para Programadores</div><br />
            <p class="hero-cta">
                @frase
            </p>
        </div>
    </div>
</div>
