@model EVA2TI_BarPinguino.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<div id="card-section">
<h1>Edit</h1>
<h4>Venta</h4>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="NumBoleta" required />
            <fieldset>
                <label asp-for="CredencialVendedor"></label>
                <select asp-for="CredencialVendedor" asp-items="ViewBag.CredencialVendedor" required></select>
                <span asp-validation-for="CredencialVendedor" ></span>
            </fieldset>
            <fieldset>
                <label asp-for="Detalles"></label>
                <input asp-for="Detalles" required />
                <span asp-validation-for="Detalles"></span>
            </fieldset>
            <fieldset>
                <label asp-for="ClienteRut"></label>
                <select asp-for="ClienteRut" asp-items="ViewBag.ClienteRut" required></select>
                <span asp-validation-for="ClienteRut"></span>
            </fieldset>
            <fieldset>
                <label asp-for="TotalDelPedido"></label>
                <input asp-for="TotalDelPedido" required />
                <span asp-validation-for="TotalDelPedido"></span>
            </fieldset>
            <div>
                <input type="submit" value="Guardar" />
            </div>
        </form>
    <a asp-action="Index">Volver</a>
</div>